.loader {
  border: 3px solid rgba(63, 35, 5, 0.1);
  border-radius: 50%;
  border-top: 3px solid #3f2305;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='radio'],
input[type='checkbox'] {
  accent-color: #3f2305;
}

input[type='radio']:disabled,
input[type='checkbox']:disabled {
  @apply opacity-50 cursor-not-allowed;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
