<div class="bg-background min-h-[80vh] flex items-center justify-center px-4 py-12">
  <div class="max-w-md w-full space-y-12 animate-in fade-in zoom-in-95 duration-700">
    <div class="text-center space-y-4">
      <div
        class="w-20 h-20 bg-primary rounded-3xl flex items-center justify-center mx-auto shadow-xl shadow-primary/20">
      </div>
      <h1 class="text-4xl font-display font-bold">Welcome Back</h1>
      <p class="text-primary/60">Sign in to your account to continue ordering.</p>
    </div> 

    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="space-y-2">
        <label for="email" class="text-sm font-bold text-primary/60 ml-1">Email Address</label>
        <input id="email" name="email" type="email" placeholder="name@example.com" class="input-field"
          formControlName="email">
        @if(loginForm.controls['email'].invalid && loginForm.controls['email'].touched){
        @if(loginForm.controls['email'].errors?.['required']){
        <p class="text-danger">Email Required</p>
        }@if(loginForm.controls['email'].errors?.['email']){
        <p class="text-danger">Please Enter Valid Email</p>
        }
        }

      </div>

      <div class="space-y-2">
        <div class="flex justify-between items-center ml-1">
          <label for="password" class="text-sm font-bold text-primary/60">Password</label>
          <a href="#" class="text-xs font-bold text-primary hover:underline">Forgot password?</a>
        </div>
        <input id="password" name="password" type="password" placeholder="••••••••" class="input-field"
          formControlName="password">
        @if(loginForm.controls['password'].invalid && loginForm.controls['password'].touched){
          @if(loginForm.controls['password'].errors?.['required']){
            <p class="text-danger">Password Required</p>
              }@if(loginForm.controls['password'].errors?.['minlength']){
                <p class="text-danger">Minimum is 8 Characters</p>
              }
          }

      </div>

      <button type="submit" class="btn-primary w-full py-1 text-lg shadow-lg shadow-primary/20" [disabled]="loginForm.invalid">
        Sign In
      </button>
    </form>

    <div class="relative py-1">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-black/5"></div>
      </div>
    </div>

    <div class="flex mt-0 items-center justify-center gap-2">
      <p class="text-center text-sm text-primary/60">
        Don't have an account?
      </p>
      <a routerLink="/signup" class="font-bold text-primary hover:underline cursor-pointer">Sign up for free</a>
    </div>


  </div>
</div>